RewriteEngine On
RewriteBase /

# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Protect keys.json
<Files ./keys.json>
Order Allow,Deny
Deny from all
</Files>

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on