/* Base */
* {
    font-family: 'Oswald', sans-serif;
    color: rgb(75, 75, 75);
    
}

html {
    padding: 0 0 0 0;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100vw;
}

body {
    display: flex;
    padding: 0 0 0 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    flex-direction: column;
    min-height: calc(100vh - 1rem);
}

/* Navigation Bar */
.header {
/*    position: -webkit-sticky;
    position: sticky;
    top: 1rem;*/
    display: flex;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.375);
    border-radius: 0.8rem;
    height: 4rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    align-items: center;
    flex-direction: row;
    transition-property: width, height;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.page {
    display: flex;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    flex-grow : 1;
    flex-direction: column;
}

.row {
    flex-direction: row;
    display: flex;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    max-width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.nav-itm {
    border-radius: 0.8rem;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.375);
    height: 3.5rem;
    margin-left: 0.5rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.5s ease-out 100ms;
    transition: box-shadow 0.5s ease-out 100ms;
    border: 0;
}

.nav-itm p {
    font-size: 1.5rem;
    color: rgba(75, 75, 75, 0.8);
}

.nav-itm:hover {
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.5);
    color:rgba(75, 75, 75, 1);
}

.nav-itm:hover p {
    color:rgba(75, 75, 75, 1);
    transition: color 0.5s ease-out 100ms;
}

.nav-itm:hover:active {
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.375);
    transition: background-color 0.2s ease-out 100ms;
    transition: box-shadow 0.2s ease-out 100ms;
    
}

.nav-itm:hover:active p {
    transition: color 0.2s ease-out 100ms;
    color: rgba(75, 75, 75, 0.8);
}

.brand  {
    font-size: 3.5rem;
    color: rgba(75, 75, 75, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.brand-itm {
    border-radius: 0.8rem;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background-image: url("../images/logo.png");
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 3.5rem;
    margin-left: 0.5rem;
    width: 12rem;
    border: 0;
}

.brand-itm p {
    font-size: 1.5rem;
    color: rgba(75, 75, 75, 1);
}

@media (orientation: portrait) {
    /*.nav-itm {
        display: none;
    }*/

    * {
        font-size: 10px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: baseline;
        margin-left: 0;
        width: 100%;
        display: none;
    }

    .header {
        display: flex;
        height: auto;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .brand-itm {
        height: 7rem;
        width: 80vw;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    
    .nav-itm {
        height: 3.5rem;
        margin: 0;
        width: 100%;
        margin-bottom: 0.8rem;
    }
}

.collapsed {
    transition-property: width, height;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    max-width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    flex-direction: column;
}

.collapsed .nav {
    display: none;
}

.collapsed .brand {
    display: none;
}

.vertical-nav {
    display: none;
}

.collapsed .vertical-nav {
    display: flex;
    align-items: center;
}

.vnav-logo {
    transition-property: opacity;
    transition-duration: .08s;
    transition-timing-function: ease-out;
    opacity: 0;
    height: auto;
    width: 100%;
}

.collapsed .vnav-logo {
    transition-property: opacity;
    transition-duration: .08s;
    transition-timing-function: ease-in;
    opacity: 100;
}

/* Footer */
.footer {
    display: flex;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.375);
    border-radius: 0.8rem 0.8rem 0 0;
    height: auto;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.footer p{
    margin: 0;
    margin-right: auto;
}

.footer-logo{
    object-fit: cover;
    margin-bottom: 1rem;
    width: 100%;
}

.dmca-badge img{
    height: 50px;
}

.dmca-badge {
    margin-top: auto;
    align-self: center;
    margin-left: auto;
}

.footer .window{
    width: 18rem;
    margin-right: auto;
    padding: 0;
}

.footer .window form input {
    width: 100%;
    margin-bottom: 0;
}

.footer .window form{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0rem;
}

@media (orientation: portrait) {
    .footer {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .footer p{
        margin-right: 0;
        font-size: 2.4rem;
    }
    
    .dmca-badge {
        margin-right: 0;
        margin-left: auto;
        margin-top: 2rem;
        width: auto;
    }
    
    .footer .window{
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .footer {
        padding: 2rem;
    }
}

/* Carousel */
.carousel {
    display: inline-block;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 16rem;
    height: 16rem;
}

.carousel div {
    position: absolute;
    border: 2rem solid rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    animation: carousel 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.carousel div:nth-child(2) {
    animation-delay: -1.5s;
  }

@keyframes carousel {
    0% {
        top: 6rem;
        left: 6rem;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 6rem;
        left: 6rem;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 6rem;
        left: 6rem;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 12rem;
        height: 12rem;
        opacity: 0;
    }
}

/* Main Componenets */
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow : 1;
    padding: 0 0 0 0;
}

.content {
    display: flex;
    padding: 0 0 0 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-grow : 1;
    flex-direction: column;
}

.content.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.content.htmx-added {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.window {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.250);
    border-radius: 0.8rem;
    padding: 1rem 1rem 1rem 1rem;
    word-break: break-all;
    margin-right: 2rem;
    max-height: 48rem;
    overflow:auto;
}

.window:last-child {
    margin-right: 0;
}

.window .context {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 0.3rem;
    border-bottom: 1px black solid;
    margin-bottom: 0.5rem;
    word-break: normal;
}

.window .context .title {
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.window .context .actions {
    margin-left: auto;
    height: 2rem;
    align-items: center;
    display: grid;
    gap: 0.3rem;
    grid-template-areas: 'action action';
}

.window .context .actions img{
    height: 1.6rem;
    padding: 0 0 0 0;
    grid-area: 'action';
}

.window .context .actions:first-child {
    margin-left: 0;
    margin-right: 0.5rem;
}

.photo {
    width: 100%;
    /*height: 18rem;*/
    object-fit: cover;
    border-radius: 0.8rem;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.selector div {
    font-size: 1.8rem;
    height: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    border-right: 1px black solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.selector div:last-child {
    border-right: none;
}

.selector div:hover{
    border: 1px black solid;
    border-radius: 0;
    height: calc(1.8rem - 2px);
}

.behave-img {
    height: 100%;
    margin: 0.5rem;
}

.text {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px black solid;
}

/* Home Page */
.me {
    max-height: calc(100vh - 6rem);
    margin: 0;
    max-width: 60vw;
    grid-area: 'me';
}

.window.homewin {
    
    margin-top: 20vh;
    height: min-content;
    grid-area: 'homewin';
}

.hometxt {
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px black solid;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    word-break: normal;
}

.home-bar {
    display: grid;
    padding: 0 0 0 0;
    grid-template-areas: 'me homewin';
    width: calc(100% - 2rem);
}

.info {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    flex-direction: column;
    margin-top: auto;
}

@media (orientation: portrait) {
    .home-bar {
        flex-direction: column-reverse;
        grid-template-areas: 'homewin' 'me';
    }

    .me {
        order: 2;
        justify-self: center;
    }

    .window.homewin {
        order: 1;
    }
}

/* Contact Page */
.window.contact-win {
    width: 80%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
}

.cform {
    display: flex;
    flex-direction: column;
}

input {
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.250);
    border-radius: 0.8rem;
    min-height: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    word-break: break-all;
    border: none;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

button {
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.750);
    border-radius: 0.8rem;
    min-height: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    word-break: break-all;
    border: none;
    font-size: 1.2rem;
}

.message {
    min-height: 4.5rem;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.250);
    border-radius: 0.8rem;
    min-height: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    word-break: break-all;
    border: none;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

input.email {
    min-height: 1rem;
}

@media (orientation: portrait) {
    .window.homewin {
        width: 100%;
        margin-top: 0;
        height: min-content;
    }
}

/* INFO BARS*/

.info-bar {
    display: flex;
    flex-direction: row;
    margin: 2rem 6rem 2rem 6rem;
    align-items: center;
}

.right{
    margin-left: auto;
}

.left{
    margin-right: auto;
}

.graphic .window {
    width: 9rem;
}

.graphic svg {
    margin-bottom: 1rem;
    height: auto;
    color:rgb(75, 75, 75);
}

.info-window {
    width: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.info-window .photo {
    height: 100%;
    width: 32%;
}

.info-window .photo:last-child {
    margin-left: auto;
}

.info-window .photo:first-child {
    margin-right: auto;
}

.info-window h2{
    margin-left: 2rem;
    margin-right: 2rem;
    word-break: normal;
}

@media (orientation: portrait) {
    .info-window {
        flex-direction: column;
    }

    .info-window .photo {
        width: 100%;
    }
    
    .info-window .photo:last-child {
        margin-left: 0;
    }
    
    .info-window .photo:first-child {
        margin-right: 0;
    }

    .info-bar {
        flex-direction: column;
        margin: 2rem 0 0 0;
    }
    
    .right{
        margin-left: 0;
    }
    
    .left{
        margin-right: 0;
    }
    
    .graphic .window {
        width: auto;
    }
    
    .graphic svg {
        width: 100%;
    }

    .challenge button {
        width: 100%;
    }
}

.window-page {
    display: grid;
    grid-template-areas:'col col col';
    width: 100%;
    gap: 2rem;
}

.window-column {
    display: grid;
    grid-area: 'col';
    width: calc(100% - 2rem);
    gap: 2rem;
    height: fit-content;
}

@media (orientation: portrait) {
    .window-page {
        grid-template-areas:'col';
    }
}

.noscroll {
    overflow: visible;
    max-height: 100%;
}

.read {
    position: sticky;
    width: auto;
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0rem;
    padding: 0.5rem;
    border-radius: 0.8rem;
    color: rgb(75, 75, 75);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    text-align: center;
}